.constructor {
  height: calc(100vh - 88px);
  min-height: calc(100vh - 88px);
  width: 600px;
  max-width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
}

.constructor__container {
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  align-items: flex-end;
}

