.section {
  margin-top: 40px;
}

.constructor {
  width: 600px;
  max-width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  box-sizing: border-box;
  border: 2px solid transparent;
}

.constructor_hover {
  border: 2px dashed var(--colors-interface-accent);
}

.constructor__container {
  box-sizing: border-box;
  width: 100%;
  align-items: flex-end;
}

.currency {
  transform: scale(1.5);
}

.title {
  color: transparent;
  box-sizing: border-box;
  display: none;
}
