.container {
  width: 272px;
  height: 216px;
  align-items: center;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
}

.img {
  height: 120px;
  width: 240px;
}

.title {
  text-align: center;
}