*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #2f2f37;
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background: #8585ad;
  border-radius: 6px;
}

.center-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;
}

.input_size_default {
  width: 480px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.form_end {
  align-items: flex-end;
}

.input__icon {
  cursor: pointer;
}

.text_color_interface {
  color: var(--colors-interface-success);
}
