.header {
  background: var(--background);
  max-height: 88px;
  height: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.header__nav {
  height: 100%;
  max-width: 1272px;
  width: calc(100% - 6%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__wrap {
  display: flex;
  align-items: center;
}

.header__link {
  z-index: 1;
  text-decoration: none;
}

.header__logo {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  cursor: pointer;
}

.header__logo a {
  margin: auto;
  height: 50px;
}
